CLIENT_ID=securesuperkey
CLIENT_SECRET=secretsecuresuper
SIGNING_KEY_ID=activejwtkeyid
REDIRECT_URI=https://acme.com
AUTH_BASE_URL=https://secure.meetup.com/oauth2/authorize
TOKEN_URL="https://secure.meetup.com/oauth2/access"
MEETUP_EMAIL=username@acme.com
MEETUP_PASS=supersecurepassword
URLNAME=Techlahoma-Foundation
HOST=redis
REDIS_PASS=anothercredgoeshere
TTL=3600
API_PORT=3000
USER_TOKEN=xoxp-usertoken
BOT_USER_TOKEN=xoxb-botusertoken
APP_TOKEN=xapp-apptoken
SLACK_WEBHOOK=incomingwebhook
SIGNING_SECRET=33characterstringthatImm1micking!
ENDPOINT=emoji.list
CHANNEL=testingchannel
TIME_DELTA=5
TZ=America/Chicago
PORT=3000
BOLT_PORT=3001
